:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%) ;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Outfit', sans-serif;
  background-color: var(--light-gray);
  display: flex;
  padding: 1.75rem;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background-color: var(--white);
  width: 100%;
  max-width: 320px;
  padding: 1rem 1rem 2.5rem;
  border-radius: 18px;
  text-align: center;
  box-shadow: 0px 0px 18px 0px rgba(108,121,147,0.4);
}

.card-image {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 1.5rem;
}

.card-title {
  font-size: 1.3rem;
  margin: 0 0.5rem 1rem;
  color: var(--dark-blue);
}

.card-description {
  font-size: 0.938;
  margin: 0 1rem;
  color: var(--grayish-blue)
}
